body {
    margin: 0;
    padding: 0;
}

.slide {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    background: url(Pictures/WebsiteTimerBackground.jpeg) center/cover no-repeat;
    filter: brightness(0.7);
}


#logo {
    font-size: 100px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bold;
    color: lightseagreen;
    -webkit-text-stroke: 2px firebrick;
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    filter: brightness(1.14285714285);
}

#menu {
    position: absolute;
    top: 10px;
    right: 20px;
    filter: brightness(1.42857);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 70px 0 0 0; 
    filter: brightness(1.14285714285);
}
.menu-item {
    
    position: relative;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.menu-item:hover {
    transform: scale(1.1);
}

.icon {
    font-size: 30px !important;
    color: #fff;
    border: black;
    margin-right: 5px;
    text-shadow: 0 0 10px #000;

}

.icon::before {
    content: "";
    position: absolute;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.3);
    width: 40px;
    height: 40px;
    top: 48%;
    left: 43%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.menu-item:hover .icon::before {
    opacity: 1;
}

.content-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
}

.text-box {
    position: relative;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 

}

.email-input {
    width: 70%; /* Adjust the width as needed */
}

.send-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
    right: 10px; /* Adjust the right property to move the button more to the left */
    top: 3px;
    transition: transform 0.3s ease-in-out;
}

.send-button:hover {
    transform: scale(1.1);
}

/* slide 2 */

.slide2 {
    background-color: black; 
}

.slide2-title {
    padding: 5% 20%;
    color: white;
    font-family: var(--type-gill-sans);
}
.side-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 20%;
}

.horizontal-showcase {
    display: flex;
    gap: 30%;
    margin-top: 10%;
    margin-bottom: 10%;
}

.showcase-item {
    flex: 1;
    text-align: center;
    overflow: hidden;
    transition: transform 1.3s cubic-bezier(.19,1,.22,1), opacity .5s ease, -webkit-transform 1.3s cubic-bezier(.19,1,.22,1);
}

.showcase-item:hover {
    transform: scale(1.1); 
    opacity: 0.7; 
}

.showcase-item img {
    width: 100%;
    max-width: 100%; 
    height: auto;
    border-radius: 10px;
}

.showcase-item p {
    margin-top: 10px;
    color: #fff;
}

/* Slide 3 */

.slide3 {
    background-color: #f0f0f0; /* Background color for slide 3 */
}

.two-column {
    display: flex;
    width: 100%;
    height: 100vh;
}

.left-column {
    flex: 1;
    padding: 20px;
    text-align: left;
}

.right-column {
    flex: 1;
    padding: 20px;
}

.left-column h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

.left-column p {
    font-size: 18px;
    color: #333;
}

.right-column img {
    width: 100%;
    max-width: 100%;
    filter: brightness(0.7); /* Adjust brightness for the picture */
}


/* Footer */
footer {
    float: left;
    width: 100%;
    padding: 2em 0;
    width: 100%;
    text-align: center;
    background: lightGrey;
}

footer ul {
    list-style: none;
}

footer li {
    display: inline;
    margin-right: 10px;
}

footer a {
    font-size: 1.25em;
    font-weight: bold;
    color: darkGrey;
    &:focus,
    &:hover {color: lightsteelblue;}
  }

